<p style="color: green"><%= notice %></p>

<div>
<h2>Buscador de tweets</h2>
<%= form_with url: tweets_path, method: :get do |form|%>
 <%= form.text_field :query_text, placeholder: ('Ingrese usuario a buscar'), value: params[:query_text]%>
<%end%>
</div>

<h1>Tweets</h1>

<div id="tweets">
  <% @tweets.each do |tweet| %>
    <%= render tweet %>
    <p>
      <%= link_to "Show this tweet", tweet %>
    </p>
  <% end %>
</div>

<div>
  <%=raw pagy_nav(@pagy)%>
</div>

<%= link_to "New tweet", new_tweet_path %>
